header, footer, .nav_foot {
  background-color: midnightblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  header a, header nav, header img, footer a, footer nav, footer img, .nav_foot a, .nav_foot nav, .nav_foot img {
    padding-left: 1em;
    padding-right: 1em; }

.nav_foot, .navtop {
  width: 100%; }
  .nav_foot a, .navtop a {
    padding: 1em; }

body {
  font-family: 'Lato', sans-serif;
  margin: 0px;
  background-color: mintcream; }

.bloc1 h1 {
  padding-left: 3%;
  padding-right: 3%;
  font-size: 28px;
  font-style: 700; }
.bloc1 h2 {
  padding-left: 3%;
  padding-right: 3%;
  font-weight: 300; }

nav {
  display: flex; }
  nav a {
    color: darkorange;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    color: color_1; }

.main_bl {
  display: flex;
  background-color: mintcream;
  flex-direction: row-reverse; }
  @media (max-width: 600px) {
    .main_bl {
      flex-direction: column-reverse; } }
  @media (min-width: 601px) and (max-width: 1025px) {
    .main_bl {
      flex-direction: column; } }

.low_nav {
  background-color: lightgray;
  display: flex;
  flex-direction: column; }
  @media (max-width: 600px) {
    .low_nav {
      flex-direction: column-reverse; } }
  @media (min-width: 601px) and (max-width: 1025px) {
    .low_nav {
      flex-direction: row; } }
  .low_nav .btn_container {
    display: flex;
    flex-direction: column; }
  .low_nav button {
    width: 100%;
    max-height: 2em;
    padding-left: 3em;
    padding-right: 3em;
    flex: 1;
    border: none;
    border-radius: 0px;
    background-color: lightgray;
    color: darkslategray; }
    .low_nav button:hover {
      background-color: darkorange;
      color: mintcream; }

.bloc2 {
  display: grid;
  grid-gap: 2em;
  /* [1] Add some gap between rows and columns */
  grid-template-columns: repeat(auto-fill, minmax(28%, 1fr));
  /* [2] Make columns adjust according to the available viewport */
  grid-auto-rows: 33%;
  /* [3] Set the height for implicitly-created row track */
  margin: 2em; }
  .bloc2 article img {
    width: 100%; }

.card__pics {
  border-radius: 8px; }

.card__content {
  position: relative;
  text-align: center; }
  .card__content :hover .bear__name {
    transform: scaleY(1); }
  .card__content .bear__name {
    color: mintcream;
    background-color: rgba(47, 79, 79, 0.5);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    position: absolute;
    bottom: 0px;
    width: 100%;
    transform: scaleY(0);
    transition: 200ms ease-in-out; }

footer {
  padding: 2em; }

.blue__btn {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: midnightblue;
  border: none;
  border-radius: 0.3em;
  transition: background-color 200ms ease-in-out; }
  .blue__btn :hover {
    background-color: #171768;
    transition: background-color 200ms ease-in-out; }

button {
  font-family: 'Lato', sans-serif; }
  button a {
    font-family: 'Lato', sans-serif; }

/*# sourceMappingURL=style.css.map */
